site_name: WalkerSim 2
docs_dir: Docs
site_dir: DocsBuild
nav:
    - Overview: index.md
    - Installation:
        - installation/index.md
        - Client:
            - Windows: installation/client/windows.md
            - Linux: installation/client/linux.md
            - MacOS: installation/client/macos.md
        - Server:
            - Windows: installation/server/windows.md
            - Linux: installation/server/linux.md
    - Configuring the Simulation:
        - Overview: configuring/index.md
        - Editor: configuring/editor.md
        - XML Configuration:
            - Base Parameters: configuring/configuration/base.md
            - Movement Systems:
                - Movement Systems: configuring/configuration/systems.md
                - Processors: configuring/configuration/processors.md

theme: 
    name: material
    logo: img/logo.png
    palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      accent: amber
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: amber
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
          
    highlightjs: true
    hljs_languages:
        - cmake
        - cpp
        - toml
    features:
        - navigation.instant
        - navigation.instant.progress
        - navigation.tabs.sticky
        - navigation.sections
        - navigation.top
        - navigation.footer
        - navigation.indexes
        - navigation.path
        - navigation.tracking
        - search.suggest
        - search.highlight
        - content.code.copy
        - content.code.annotate

extra_css:
  - css/custom.css
  
plugins:
    - offline
    - search:
        lang: en
markdown_extensions:
    - pymdownx.highlight:
        anchor_linenums: true
    - pymdownx.superfences 
    - admonition
    - pymdownx.details
    - attr_list
    - md_in_html
    - toc:
        permalink: true
extra:
    generator: false
